/* style the user Interface */

.btn {
    text-align: center;
}

button {
    width: 10%;
    height: 50px;
}

.content {
    text-align: center;
    margin-top: 100px;

}

h4 {
    padding: 50px;
}

.end {
    text-align: center;
}